* { box-sizing: border-box; }
.cell {
  width: 10%;
  float: left;
  border: thin solid black;
}

.cell:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

#box {
  width: 80%;
  margin: 0 auto;
}



#palette {
  position: absolute;
  border: thin solid green;
  width: 145px;

}

.texto{
  float: right;
}

.rojo {
  background-color: red;
  border: thin solid blue;
  width: 30px;
  height: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

.azul{
  background-color: blue;
  border: thin solid blue;
  width: 30px;
  height: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

.amarillo {
  background-color: yellow;
  border: thin solid blue;
  width: 30px;
  height: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

.floating {
  position: absolute;
  border: thin solid red;
}




@media screen and (max-width: 880px) {
  .l1 {
    width: 100%;
  }
}
